<h1 class="content-title"><%= title %></h1>

<div class="list">
  <ul>
    <% category_list.forEach(category => { %>
      <a href="<%= category.url %>">
        <li class="list-item"><%= category.name %></li>
      </a>
    <% }) %>
  </ul>
</div>