<h1 class="content-title"><%= title %></h1>

<div class="list">
  <ul>
    <% game_list.forEach(game => { %> 
      <a href="<%= game.url %>">
        <li class="list-item"><%= game.name %></li>
      </a>
    <% }) %>
  </ul>
</div>