<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boardgame Inventory</title>
  <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <div class="sidebar-links view-links">
        <a class="sidebar-link" href="/">Home</a>
        <a class="sidebar-link" href="/games">Games</a>
        <a class="sidebar-link" href="/categories">Categories</a>
        <a class="sidebar-link" href="/gameinstances">Copies</a>
      </div>
      <div class="sidebar-links create-links">
        <a class="sidebar-link" href="/game/create">New game</a>
        <a class="sidebar-link" href="/category/create">New category</a>
        <a class="sidebar-link" href="/gameinstance/create">New game copy</a>
      </div>
    </div>
    <div class="content">
      <%- body %>
    </div>
  </div>
</body>
</html>