/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Comic Neue', cursive;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* MY CSS */

/* Universal */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  display: grid;
  grid-template-columns: 150px 1fr;
  height: 100vh;
  background: rgb(209, 209, 209);
}

/* Sidebar */
.sidebar {
  background: rgba(107, 107, 107, 0.137);
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.sidebar-link {
  border: 2px solid rgb(54, 54, 54);
  border-radius: 8px;
  padding: 2px; 
  margin: 5px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  color: black;
}

.sidebar-link:hover {
  transform: scale(1.05);
}

.view-links >* {
  background: rgb(94, 168, 238);
}

.create-links >* {
  background: #ff8db3;
}

/* Content */
.content {
  padding: 30px;
}